<div class="calc-body">
  <div class="calc-screen">
    <div class="calc-operation" [id]="fontSizeId">{{expression | fixResultExpression}}</div> 
    <div class="calc-typed"><span class="blink-me">= {{resultExpression}}</span></div>
  </div>
  <div class="calc-button-row">
    <div class="button c" (click)="removeAllExpression()">C</div>
    <div class="button l">≠</div>
    <div appCalculatorButton class="button l" [value]="'%'">%</div>
    <div appCalculatorButton class="button l" [value]="'/'">÷</div>
  </div>
  <div class="calc-button-row">
    <div appCalculatorButton class="button" [value]="'7'">7</div>
    <div appCalculatorButton class="button" [value]="'8'">8</div>
    <div appCalculatorButton class="button" [value]="'9'">9</div>
    <div appCalculatorButton class="button l" [value]="'x'">×</div>
  </div>
  <div class="calc-button-row">
    <div appCalculatorButton class="button" [value]="'4'">4</div>
    <div appCalculatorButton class="button" [value]="'5'">5</div>
    <div appCalculatorButton class="button" [value]="'6'">6</div>
    <div appCalculatorButton class="button l" [value]="'-'">-</div>
  </div>
  <div class="calc-button-row">
    <div appCalculatorButton class="button"[value]="'1'">1</div>
    <div appCalculatorButton class="button"[value]="'2'">2</div>
    <div appCalculatorButton class="button"[value]="'3'">3</div>
    <div appCalculatorButton class="button l"[value]="'+'">+</div>
  </div>
  <div class="calc-button-row">
    <div appCalculatorButton class="button" [value]="'.'">.</div>
    <div appCalculatorButton class="button" [value]="'0'">0</div>
    <div class="button" (click)="removeExpression()">
      <fa-icon [icon]="faDelete"></fa-icon>
    </div>
    <div class="button l">=</div>
  </div>
</div>
